<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">New link</h5>
        <%= render "form", link: @link %>
      <br>

      <div>
        <%= link_to "Links", links_path %>
      </div>
    </div>
  </div>
</div>




